:root {
	--hero-text-color: rgb(128, 45, 72);
	--hero-text-color-quote: rgb(134, 35, 68);
	--hover-text-color: rgb(163, 70, 155);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-text p {
	color: var(--hero-text-color);
	font-weight: bold;
	font-style: italic;
}

.hero-text-dzieci h3 {
	position: absolute;
	left: 45px;
	top: 5px;
	margin-top: 9px;
	padding: 10px;
	background-color: rgba(182, 114, 172, 0.3);
	color: var(--hero-text-color);
}

.hero-text-mama h3 {
	position: absolute;
	left: 25px;
	top: 5px;
	margin-top: 9px;
	padding: 10px;
	background-color: rgba(182, 114, 172, 0.3);
	color: var(--hero-text-color);
}

.hero-text h1 {
	margin-top: 50px;
	text-shadow: 3px 3px 7px var(--hero-text-color);
	color: var(--hero-text-color);
}

.hero-text span {
	text-transform: uppercase;
	color: rgb(145, 46, 79);
}

section .hero-text p {
	color: var(--hero-text-color-quote);
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.section-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	color: var(--hero-text-color);
	text-decoration: none;
}

h4.section-title {
	margin: 20px;
	text-transform: uppercase;
	text-align: center;
	color: var(--hero-text-color);
	text-decoration: none;
}

section {
	scroll-margin-top: 80px;
}

/* nawigacja */
nav {
	transition: background-color 0.6s;
	z-index: 10;
	background-color: #eec0c6;
	/* position: sticky;
	top: 0;
	height: 60px;
	line-height: 60px;
	background-color: #eec0c6;
	text-align: center;
	z-index: 10; */
}

.navbar-toggler {
	padding: 10px 15px;
	border: none;
	color: transparent;
}
/* .burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
	color: rgb(187, 88, 121);
} */

.nav-items {
	display: none;
}

.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-brand,
.fa-bars {
	color: var(--hero-text-color);
	font-weight: bold;
}

.nav-link {
	text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover,
.navbar-nav .nav-link.active {
	color: var(--hover-text-color);
}

.navbar-brand a {
	font-size: 24px;
	font-weight: 200;
}
.navbar-brand:hover {
	color: var(--hover-text-color);
}
.navbar-brand span {
	text-transform: uppercase;
	color: rgb(145, 46, 79);
}

/* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show  {
	color: blue;
} */

/* header */
header {
	position: relative;
	background-image: url('../img/baby-hand-small.jpg');
	height: 330px;
	background-size: cover;
	background-position: center;
}

/* main  */

main {
	margin: 60px 0px;
}

/* sekcja o nas  */
.about-us-info {
	margin-bottom: 10px;
	padding: 0 50px;
	text-align: justify;
}

.about-us h2 + p::first-letter {
	color: var(--hero-text-color);
	background-color: #eec0c6;
	border-radius: 2px;
	box-shadow: 3px 3px 0 var(--hero-text-color);
	font-size: 300%;
	padding: 6px 6px;
	margin-right: 6px;
	float: left;
}

/* mama  */
.products {
	margin: 60px auto;
}

.product {
	position: relative;
	height: 300px;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 16px;
}

.productSP {
	position: relative;
	height: 50px;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 16px;
}

.product:hover h3 {
	transform: scale(1.5);
}

.product h3 {
	text-transform: uppercase;
	transition: transform 0.3s;
}

.mama {
	background-image: url('../img/mama-small.jpg');
}
.noworodek {
	background-image: url('../img/noworodek\ small.jpg');
	z-index: 1;
}
.niemowlak {
	background-image: url('../img/niemowlak-small.jpg');
	z-index: 1;
}
.dziecko1-3 {
	background-image: url('../img/dziecko1-3-small.jpg');
	z-index: 1;
}
.dziecko3-5 {
	background-image: url('../img/dzieci3-5-small.jpg');
	z-index: 1;
}

.noworodek .shadow-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(241, 218, 241, 0.4);
	z-index: -5;
}
.niemowlak .shadow-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(235, 190, 155, 0.6);
	z-index: -5;
}

.dziecko1-3 .shadow-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(230, 199, 175, 0.568);
	z-index: -5;
}


.dziecko3-5 .shadow-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(243, 230, 232, 0.7);

	z-index: -5;
}



/* kontakt  */

.contact {
	text-align: center;
}

.contact h3 {
	margin: 20px 0 5px;
	text-transform: uppercase;
	color: var(--hero-text-color);
}

.subpage {
	display: flex;
	justify-content: space-around;
	background-color: #eec0c6;
	color: var(--hero-text-color);
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.productSP ~ p {
	text-align: justify;
	line-height: 30px;
	padding: 20px;
}

ul {
	list-style-type: none;
}

/* footer  */
footer {
	text-align: center;
	padding: 30px 10px;
	background-color: #eec0c6;
	color: var(--hero-text-color);
}

/* media  */

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}

	.subpage.nav-items {
		display: block;
	}

	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: rgb(187, 88, 121);
		transition: color 0.3s;
	}

	.subpage.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: rgb(187, 88, 121);
		transition: color 0.3s;
	}

	.nav-items a:hover {
		color: rgb(138, 23, 61);
	}

	.subpage.nav-items a:hover {
		color: rgb(138, 23, 61);
	}

	.header {
		height: 400px;
		background-image: url('../img/baby-hand-big.jpg');
		background-size: cover;
		background-position: center;
	}

	.hero-text h1 {
		font-size: 36px;
		z-index: 10;
	}
	.hero-text p {
		font-size: 18px;
	}

	.product h3 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.products-box {
		font-size: 0;
	}
	.product {
		display: inline-block;
		width: 50%;
	}

	.product-mama {
		display: inline-block;
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.hero-text h1 {
		font-size: 42px;
	}
	.hero-text p {
		font-size: 21px;
	}
	.header {
		height: 500px;
	}
}
